<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-printer-multilangprint" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Printer</name><js-module name="Printer" src="www/Printer.js"><clobbers target="cordova.plugins.Printer" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Printer"><param name="android-package" value="cordova.printer.multilangprint.Printer" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Printer.java" target-dir="src/cordova.printer.multilangprint/Printer" /><lib-file src="src/android/libs/btsdk.jar"/></platform></plugin>
